book

# custon output dirs
_int_out
_ext_out

# artifacts from build.sh
/book.toml
src/SUMMARY.md

# mdbook build may create html files in src when markdown files 
# in src are referenced in SUMMARY.md with incorrect path.
src/**/*.html